<div class="main top-main">
  <div class="top-message">
    <h2>Dream Cambus</h2>
    <p>次世代の学修支援アプリケーション</p>
    <br/>
    <br/>
    <p>
        <table align="center">
            <tr><td></td>
            <td>
                <a href="/timetables" class="btn-top-radius">
                    時間割管理
                </a>
            </td></tr>
            <tr><td>
                <a href="/tasks" class="btn-top-radius">
                    予定管理
                </a>
            </td>
            <td></td>
            <td>
                <a href="/learnlists" class="btn-top-radius">
                    学修管理
                </a>
            </td></tr>
        </table>
    </p>
  </div>
</div>